## Deliverable 2. Create a Customer Travel Destinations Map.

In [3]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [4]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Hosakote,IN,14.2769,77.1699,82.08,43,90,15.08,overcast clouds
1,1,Katsuura,JP,35.1333,140.3000,73.42,80,100,19.64,overcast clouds
2,2,Mizan Teferi,ET,6.9833,35.5833,65.01,95,76,1.50,light rain
3,3,Serik,TR,36.9169,31.0989,75.74,47,2,3.24,clear sky
4,4,Cidreira,BR,-30.1811,-50.2056,59.86,97,100,3.02,overcast clouds

In [5]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 80
What is the maximum temperature you would like for your trip? 95

In [6]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Hosakote,IN,14.2769,77.1699,82.08,43,90,15.08,overcast clouds
9,9,Victoria,HK,22.2855,114.1577,91.45,76,37,7.00,scattered clouds
16,16,Hithadhoo,MV,-0.6000,73.0833,81.97,71,42,6.51,scattered clouds
28,28,Kahului,US,20.8947,-156.4700,80.62,70,40,14.97,scattered clouds
37,37,Ternate,ID,0.8000,127.4000,84.15,69,84,6.17,broken clouds
42,42,Namatanai,PG,-3.6667,152.4333,83.80,67,79,10.47,broken clouds
48,48,Kapaa,US,22.0752,-159.3190,82.38,86,40,11.50,moderate rain
57,57,Najran,SA,17.4924,44.1277,84.85,22,41,7.63,scattered clouds
61,61,Bontang,ID,0.1333,117.5000,83.86,66,100,8.99,overcast clouds
77,77,Butaritari,KI,3.0707,172.7902,81.97,70,92,6.02,overcast clouds

In [8]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                119
City                   119
Country                119
Lat                    119
Lng                    119
Max Temp               119
Humidity               119
Cloudiness             119
Wind Speed             119
Current Description    119
dtype: int64

In [10]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna(subset = ['Country'])
clean_df.reset_index(drop=True)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Hosakote,IN,14.2769,77.1699,82.08,43,90,15.08,overcast clouds
1,9,Victoria,HK,22.2855,114.1577,91.45,76,37,7.00,scattered clouds
2,16,Hithadhoo,MV,-0.6000,73.0833,81.97,71,42,6.51,scattered clouds
3,28,Kahului,US,20.8947,-156.4700,80.62,70,40,14.97,scattered clouds
4,37,Ternate,ID,0.8000,127.4000,84.15,69,84,6.17,broken clouds
...,...,...,...,...,...,...,...,...,...,...
114,653,Tiarei,PF,-17.5333,-149.3333,80.01,75,10,18.75,clear sky
115,658,Pop,UZ,40.8736,71.1089,81.09,17,1,1.59,clear sky
116,659,Korla,CN,41.7597,86.1469,83.14,13,86,4.12,overcast clouds
117,662,Porbandar,IN,21.6422,69.6093,85.98,66,40,10.36,scattered clouds
118,664,Mount Isa,AU,-20.7333,139.5000,87.57,16,97,9.22,overcast clouds

In [11]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Hosakote,IN,82.08,overcast clouds,14.2769,77.1699,
9,Victoria,HK,91.45,scattered clouds,22.2855,114.1577,
16,Hithadhoo,MV,81.97,scattered clouds,-0.6000,73.0833,
28,Kahului,US,80.62,scattered clouds,20.8947,-156.4700,
37,Ternate,ID,84.15,broken clouds,0.8000,127.4000,
42,Namatanai,PG,83.80,broken clouds,-3.6667,152.4333,
48,Kapaa,US,82.38,moderate rain,22.0752,-159.3190,
57,Najran,SA,84.85,scattered clouds,17.4924,44.1277,
61,Bontang,ID,83.86,overcast clouds,0.1333,117.5000,
77,Butaritari,KI,81.97,overcast clouds,3.0707,172.7902,

In [12]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    
    # 6c. Get latitude and longitude from DataFrame
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except(IndexError):
        print("Hotel not found...skipping.")

Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.

In [15]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna(subset = ['Hotel Name'])
clean_hotel_df.reset_index(drop=True)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Hosakote,IN,82.08,overcast clouds,14.2769,77.1699,AVN lodge
1,Victoria,HK,91.45,scattered clouds,22.2855,114.1577,Mini Central
2,Hithadhoo,MV,81.97,scattered clouds,-0.6000,73.0833,Scoop Guest House
3,Kahului,US,80.62,scattered clouds,20.8947,-156.4700,Maui Seaside Hotel
4,Ternate,ID,84.15,broken clouds,0.8000,127.4000,Sahid Bela Ternate Hotel
...,...,...,...,...,...,...,...
114,Tiarei,PF,80.01,clear sky,-17.5333,-149.3333,Le Rocher de Tahiti
115,Pop,UZ,81.09,clear sky,40.8736,71.1089,Ramz Hotel Pap
116,Korla,CN,83.14,overcast clouds,41.7597,86.1469,Gulisitan Hotel
117,Porbandar,IN,85.98,scattered clouds,21.6422,69.6093,Lords Inn Porbandar
118,Mount Isa,AU,87.57,overcast clouds,-20.7333,139.5000,ibis Styles Mt Isa Verona

In [17]:
# 8a. Create the output File (CSV)
city_data_df.to_csv('WeatherPy_Vacation.csv')
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv('WeatherPy_Vacation.csv', index_label="City_ID")

In [19]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [20]:
# 11a. Add a marker layer for each city to the map. 
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))